{% assign headers = include.section.headers %}

{% if headers contains "Eksempler" %}
  <table style="table-layout: fixed;">
  <colgroup>
    <col style="width: 25%;">
    <col style="width: 20%;">
    <col style="width: 55%;">
  </colgroup>
  <tr>
    <th>Udtryk</th>
    <th>Engelsk</th>
    <th>Eksempler</th>
  </tr>
  {% for e in include.section.entries %}
  <tr>
    <td style="word-wrap: break-word;">{{ e.udtryk }}</td>
    <td style="word-wrap: break-word;">{{ e.engelsk }}</td>
    <td>{{ e.eksempler }}</td>
  </tr>
  {% endfor %}
  </table>
{% else %}
  <table style="table-layout: fixed;">
  <colgroup>
    <col style="width: 35%;">
    <col style="width: 65%;">
  </colgroup>
  <tr>
    <th>Udtryk</th>
    <th>Engelsk</th>
  </tr>
  {% for e in include.section.entries %}
  <tr>
    <td style="word-wrap: break-word;">{{ e.udtryk }}</td>
    <td style="word-wrap: break-word;">{{ e.engelsk }}</td>
  </tr>
  {% endfor %}
  </table>
{% endif %}
